
h1{
  text-align: center;

}
h3{
  text-align: center;
}
title{
  text-align: center;

}
.subtitle{
  text-align: center;
}
body{
  background-color:white;



}
.main-text{
  text-align: justify;
  padding-left:10%;
  padding-right:10%;
  margin:auto;
}
.timeline{
  text-align: justify;
  padding-left:30%;

}
.img-div{
    width:100%;
    padding:0;
    margin:auto;
}
.headline{
  background-color:white;
}
figure{
  
}
