
h1{
  text-align: center;

}
h3{
  text-align: center;
}
title{
  text-align: center;

}
.subtitle{
  text-align: center;
}
body{
  background-color:#fff5c2;
  margin:0px;


}
.main-text{
  text-align: justify;
  margin: 0 auto;
  width: 40em;
}
.timeline{
  text-align: justify;
  margin: 0 auto;
  width: 30em;
  
  

}
.img-div{
    width:100%;
    border:0px;
    padding:0px;
    margin:0px;
    display:block;
    
}
.img-box img{
  display: block;
}
.txt-box{
  
  
}
.headline{
  background-color:white;
}
figure{
  
}
