
h1{
  text-align: center;
  
  

}
h3{
  text-align: center;
}
footer{
  text-align: center;
  border-bottom: 2px solid black;
}
title{
  text-align: center;
  

}
.subtitle{
  text-align: center;
}
body{
  background-color:#fcfbf5;
  margin:0px;
  font-family: "Recursive";


}
.main-text{
  text-align: justify;
  margin: 0 auto;
  width: 40em;
}
.timeline{
  text-align: justify;
  margin: 0 auto;
  width: 30em;
  
  

}
.img-div{
    width:100%;
    border:0px;
    padding:0px;
    margin:0px;
    display:block;
    text-align:center;
    
    
}
.img-box img{
  display: block;
  border-bottom: 2px solid black;
}
.txt-box{
  
  
}
.headline{
  background-color:white;
}
figure{
   
}
figcaption{
  text-align:center;
  font-size: 10px;
}
li {
  margin: 16px 0;
}
.headline-box{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 30px;
  width: 100%;
  top: 300px;
  background: url(https://raw.githubusercontent.com/yi-sht/responsive-tribute-page/main/assets/headline.png) center repeat-x;
  background-size: auto 100%;
}